################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MTGWebCrawler/.vs/WebCrawler
/MTGWebCrawler/packages
/MTGWebCrawler/UnitTestProject1/bin/Debug
/MTGWebCrawler/UnitTestProject1/obj/Debug
/MTGWebCrawler/UnitTestProject1/_Ach! Hans, Run!_ (Unhinged) - Gatherer - Magic_ The Gathering_files
/MTGWebCrawler/WebCrawler/obj/Debug
